<div class="main-content-area">
    <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
        data-tm-bg-img="assets/bg1.jpg" style="background-image: url(&quot;assets/bg1.jpg&quot;);">
        <div class="container pb-50 pt-50">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title mt-0"
                            style="font-weight:800 !important; font-family:inter, sans-serif; font-size:40px;">
                            Disclosure</h2>
                        <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                            <div class="breadcrumbs">
                                <span><a href="#" rel="home" style="text-decoration:none">Home</a></span>&nbsp;
                                <span><i class="fa fa-angle-right"></i></span>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="content_second_background"> -->
    <!-- <div class="content_area clearfix"> -->

    <section class="about-section">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">

                <div class="col-lg-6 col-xl-6" style="width: 100%;">
                    <section>
                        <div class="container" style="padding-top: 30px; padding-bottom: 0px;">
                            <div class="row">
                                <div class="col-md-8 offset-md-2 w-100 m-0">
                                    <div class="col-lg-6 col-xl-4" style="width: 100%;">
                                        <div class="feature-box-list-banner z-index-1 mt-lg-40"
                                            style=" padding: 0px;">
                                            <div class="tm-sc-unordered-list list-style8">
                                                <ul>

                                                    <li>
                                                        We are AMFI Registered Mutual Distributor and hence earn our
                                                        commission as a product
                                                        distributor only & we do not charge any other fee . In case you
                                                        need any
                                                        clarification or wish to understand more on Expense ratio or our
                                                        commissions, do
                                                        E-mail us freely or visit our office any time from Monday to
                                                        Friday (working time:
                                                        9.30 am to 5:30 pm).
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>The information provided here is limited to the mutual fund
                                                        products that are being
                                                        distributed by ArthFin as a distributor. Clients may also
                                                        consider other alternate
                                                        products, which are not being offered by ArthFin before making
                                                        investment decisions.
                                                    </li>
                                                    <li>Mutual Fund investments are not guaranteed or assured return
                                                        products. Investment in
                                                        mutual funds may expose the entire principal amount to the risk
                                                        of loss.</li>
                                                    <li>Mutual Fund investments are subject to market risks. Read all
                                                        scheme related
                                                        documents carefully.</li>
                                                    <li>Brokerage Disclosure (MF Distribution): ArthFin receives
                                                        commission from AMCs for
                                                        investment of clients in Regular Plan of Mutual Fund Schemes. As
                                                        per SEBI circular:
                                                        SEBI/IMD/CIR No. 4/ 168230/09, following are the details of the
                                                        comparative
                                                        commission earned by ArthFin from various AMCs for distribution
                                                        of mutual fund
                                                        schemes (regular plan):</li>
                                                </ul>
                                                <div>
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>Mutual Funds – Category</th>
                                                                <th>Upfront Income</th>
                                                                <th>Trail</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Equity &amp; Hybrid Funds</td>
                                                                <td>Nil</td>
                                                                <td>0.40% to 1.35%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Index Funds</td>
                                                                <td>Nil</td>
                                                                <td>0.15% to 0.65%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>ELSS Funds</td>
                                                                <td>Nil</td>
                                                                <td>0.90% to 1.25%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Arbitrage</td>
                                                                <td>Nil</td>
                                                                <td>0.35% to 0.75%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>International Funds</td>
                                                                <td>Nil</td>
                                                                <td>0.40% to 1.15%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Gold Funds</td>
                                                                <td>Nil</td>
                                                                <td>0.30% to 0.45%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Debt – Liquid Funds</td>
                                                                <td>Nil</td>
                                                                <td>0.02% to 0.25%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Debt -Ultra Short Term Funds</td>
                                                                <td>Nil</td>
                                                                <td>0.10% to 0.85%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Debt- Short Term Debt Funds</td>
                                                                <td>Nil</td>
                                                                <td>0.25% to 0.85%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Debt – Medium Term/Credit Risk Funds</td>
                                                                <td>Nil</td>
                                                                <td>0.65% to 1.00%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Debt – Dynamic /Long Term Funds (including Income
                                                                    &amp; GILT funds)</td>
                                                                <td>Nil</td>
                                                                <td>0.35% to 1.00%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Corporate Bond / Banking &amp; PSU Debt Funds</td>
                                                                <td>Nil</td>
                                                                <td>0.20% to 0.55%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Debt Index Funds(Target Maturity Funds)</td>
                                                                <td>Nil</td>
                                                                <td>0.10% to 0.25%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Close Ended Debt Funds/Fixed Maturity Plans (FMP)
                                                                </td>
                                                                <td>Nil</td>
                                                                <td>0.10% to 0.20%</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <ul>
                                                    <li>The above commission details are a broad range for different
                                                        categories of mutual
                                                        funds done by us.</li>
                                                    <li>This is on a best effort basis and commission rates are updated
                                                        as and when actual
                                                        rates are received from AMCs.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- </div> -->
    <!-- <div class="content_footer footer_widgets_holder">
            <section class="footer_widgets clearfix"></section> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <p>&nbsp;</p> -->