<div class="main-content-area">

    <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
        data-tm-bg-img="images/bg/bg1.jpg" style="background-image: url(&quot;assets/bg1.jpg&quot;);">
        <div class="container pb-50 pt-50">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title mt-0">Contact</h2>
                        <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                            <div class="breadcrumbs">
                                <span><a href="#" rel="home">Home</a></span>&nbsp;
                                <span><i class="fa fa-angle-right"></i></span>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container text-center" style="padding-bottom:0px !important">
            <div class="row">
                <div class="col">
                    <div
                        class="icon-box icon-left iconbox-centered-in-responsive iconbox-theme-colored1 animate-icon-on-hover animate-icon-rotate bg-white-f1 p-30 mb-30">
                        <div class="icon-box-wrapper">
                            <div class="icon-wrapper">
                                <a class="icon icon-type-font-icon icon-dark icon-circled">
                                    <!-- <i class="fa fa-phone-square" aria-hidden="true"></i> -->
                                    <i class="ai-phone"></i>
                                </a>
                            </div>

                            <div class="icon-text">
                                <h5 class="icon-box-title mt-0">Phone</h5>
                                <div class="content"><a href="https://wa.me/8400333897">+91 8400333897</a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div
                        class="icon-box icon-left iconbox-centered-in-responsive iconbox-theme-colored1 animate-icon-on-hover animate-icon-rotate bg-white-f1 p-30 mb-30">
                        <div class="icon-box-wrapper">
                            <div class="icon-wrapper">
                                <a class="icon icon-type-font-icon icon-dark icon-circled">
                                    <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                                    <i class="ai-envelope"></i>
                                </a>
                            </div>
                            <div class="icon-text">
                                <h5 class="icon-box-title mt-0">Email</h5>
                                <div class="content"><a href="mailto: contact@arthfin.com">
                                        contact&#64;arthfin.com</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="icon-box icon-left iconbox-centered-in-responsive iconbox-theme-colored1 animate-icon-on-hover animate-icon-rotate bg-white-f1 mb-30"
                        style="padding: 23.7px !important;">
                        <div class="icon-box-wrapper">
                            <div class="icon-wrapper">
                                <a class="icon icon-type-font-icon icon-dark icon-circled">
                                    <!-- <i class="fa fa-globe" aria-hidden="true"></i> -->
                                    <i class="ai-globe"></i>
                                </a>
                            </div>
                            <div class="icon-text">
                                <h5 class="icon-box-title mt-0">Address</h5>
                                <div class="content">D-1 - Vivekanand Puri, Bishop Rocky Street, Lucknow
                                    - 226007</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>