<div class="main-content-area">

    <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
        data-tm-bg-img="assets/bg1.jpg" style="background-image: url(&quot;assets/bg1.jpg&quot;);">
        <div class="container pb-50 pt-50">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title mt-0">About-Us</h2>
                        <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                            <div class="breadcrumbs">
                                <span><a href="#" rel="home">Home</a></span>&nbsp;
                                <span><i class="fa fa-angle-right"></i></span>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container" style="padding-bottom: 0px !important;">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-5 col-xl-5">
                        <div class="about-thumb mb-md-40" style="display: flex; justify-content: center; align-items: center;">
                            <img src="assets/img/Picture2.jpg" alt="" style="height: 400px;">
                        </div>
                        <h3 class="text-center">Founder - Alpana Singh</h3>
                    </div>
                    <div class="col-lg-1 col-xl-1">
                    </div>
                    <div class="col-lg-6 col-xl-6">
                        <!-- <h5 class="title-icon-left text-theme-colored1 m-0">Our Introduction</h5>
                        <h3 class="mb-40" style="margin-bottom: 5px !important">We’re experts in business relations and
                            advices</h3> -->
                        <p class="lead mb-40" style="text-align: justify; "
                        >At ArthFin, our mission is clear: to help you achieve your dream financial
                            future with utmost integrity. We empower you to make informed economic decisions by placing
                            your needs at the forefront of every discussion. You deserve reliable, transparent
                            information to confidently grow your wealth.
                            <br><br>
                            With over 22 years of dedicated experience in mutual fund industry, Alpana
                            has built a reputation as a seasoned financial professional to founding her own firm in
                            2015, she held a significant position at HDFC Asset Management Company. Throughout her
                            career, she has demonstrated a deep understanding of market dynamics, risk management
                            strategies, and investment opportunities. Alpana began her journey in the financial industry
                            22 years ago, where she quickly developed a passion for helping individuals and businesses
                            navigate the complexities of investing. Her expertise lies in crafting tailored investment
                            plans that align with clients' goals and risk tolerances, ensuring a balanced approach to
                            wealth accumulation and preservation.
                            <br><br>
                            Over the years, she has successfully guided numerous clients through various market cycles,
                            providing sound advice and proactive portfolio management. Her commitment to continuous
                            learning and staying up to date with industry trends enables her to offer innovative results
                            and enhance investment strategies for optimal results.
                            <br><br>
                            With a track record of delivering consistent and quality financial guidance, Alpana is
                            dedicated to empowering clients to make informed decisions and achieve their long-term
                            financial objectives.
                        </p>
                        <!-- <div class="tm-sc-unordered-list list-style8 mb-30">
                            <ul>
                                <li>Refresing to get such a personal touch. </li>
                                <li> Duis aute irure dolor in reprehenderit in voluptate.</li>
                                <li>Velit esse cillum dolore eu fugiat nulla pariatur.</li>
                            </ul>
                        </div>
                        <div class="tm-sc-progress progress-item theme-style mb-30">
                            <div class="progress-title">
                                <h6 class="text-uppercase">Architecture</h6>
                            </div>
                            <div class="tm-sc-progress-bar progress-bar-floating-percent appeared" data-percent="60"
                                data-bar-height="">
                                <div class="progress-title-holder">
                                    <span class="percent" style="left: 60%;"><span class="symbol-left"></span><span
                                            class="value" style="opacity: 1;">60</span><span
                                            class="symbol-right">%</span></span>
                                </div>
                                <div class="progress-holder">
                                    <div class="progress-content" data-width="60%" style="width: 60%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tm-sc-progress progress-item theme-style mb-30">
                            <div class="progress-title">
                                <h6 class="text-uppercase">Lighting Work</h6>
                            </div>
                            <div class="tm-sc-progress-bar progress-bar-floating-percent appeared" data-percent="60"
                                data-bar-height="">
                                <div class="progress-title-holder">
                                    <span class="percent" style="left: 60%;"><span class="symbol-left"></span><span
                                            class="value" style="opacity: 1;">60</span><span
                                            class="symbol-right">%</span></span>
                                </div>
                                <div class="progress-holder">
                                    <div class="progress-content" data-width="90%" style="width: 60%;"></div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <h5 class="mb-30">Call to ask any question <a class="text-theme-colored1"
                                href="tel:+91 9839022092">+91 9839022092</a></h5> -->
                        <!-- <a class="btn btn-round btn-theme-colored1 text-uppercase" href="https://wa.me/9839022092">
                            Call to ask any question +91 9839022092</a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <!-- <section class="bg-silver-light">
        <div class="container pt-60">
            <div class="section-content">
                <div class="row mb-90" style="margin-bottom: 0 !important">
                    <div class="col-lg-6 col-xl-4" style="height: 350px;">
                        <div class="feature-box mb-lg-40">
                            <div class="feature-box-upper">
                                <h3 class="feature-title mt-0 mb-30">
                                    Business Management</h3>
                                <p class="feature-text">
                                    There may be less of a chance of losing all the money you put into a mutual fund
                                    than there is of losing all the money you put into lottery tickets, but you're never
                                    going to win big in a mutual fund.</p>
                            </div>
                            <div class="feature-box-bottom">
                                <div class="feature-box-icon">
                                    <i class="ai-align-bottom"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4" style="height: 350px;">
                        <div class="feature-box">
                            <div class="feature-box-upper">
                                <h3 class="feature-title mt-0 mb-30">Employee Resourcing</h3>
                                <p class="feature-text">Lorem ipsum dolor sit am adipi sicing elit, sed do consulting
                                    firms sicing elitsed do consulting firms.</p>
                            </div>
                            <div class="feature-box-bottom">
                                <div class="feature-box-icon">
                                    <i class="ai-arrow-up"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4" style="height: 420px;">
                        <div class="feature-box-list-banner bg-theme-colored2 z-index-1 mt-lg-40"
                            data-tm-margin-top="-125px" style="margin-top: -125px;">
                            <h3 class="text-white feature-box-list-banner-title mt-0 mb-50">
                                We’re the best agency to improve business</h3>
                            <div class="tm-sc-unordered-list list-style8">
                                <ul>
                                    <li class="text-white">Business Planning</li>
                                    <li class="text-white">Financial Services</li>
                                    <li class="text-white">HR Consultation</li>
                                    <li class="text-white">Financial Institutions</li>
                                    <li class="text-white">Collective Approach</li>
                                    <li class="text-white">Business Management</li>
                                    <li class="text-white">Corporate Agency</li>
                                    <div class="call-for-estimate">
                                        <h5 class="text-white text-center number">22+ Years of Experience</h5>
                                    </div>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <h2 class="m-0 text-theme-colored2 font-italic" style="font-size: 2rem;">Get Expert
                            Consultation For Your Business</h2>
                    </div>
                    <div class="col"></div>
                    <div class="col-lg-4 text-xl-end text-lg-end text-start mt-md-30">
                        <a href="/contact-us" class="btn btn-round btn-theme-colored1 text-uppercase">
                            Contact With Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</div>