<div class="main-content-area">
    <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
        data-tm-bg-img="assets/bg1.jpg" style="background-image: url(&quot;assets/bg1.jpg&quot;);">
        <div class="container pb-50 pt-50">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title mt-0">Why-Us</h2>
                        <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                            <div class="breadcrumbs">
                                <span><a href="#" rel="home">Home</a></span>&nbsp;
                                <span><i class="fa fa-angle-right"></i></span>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-section">
        <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="row">

                <div class="col-lg-6 col-xl-6" style="width: 100%;">
                    <section>
                        <div class="container" style="padding-top: 30px; padding-bottom: 0px;">
                            <div class="row">
                                <div class="col-md-8 offset-md-2 w-100 m-0">
                                    <div class="col-lg-6 col-xl-4" style="width: 100%;">
                                        <div class="feature-box-list-banner bg-theme-colored2 z-index-1 mt-lg-40"
                                            style=" padding: 20px;">
                                            <div class="tm-sc-unordered-list list-style8">
                                                <ul>
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <li class="text-white" style="text-align: justify;">
                                                                Financial Behavior Gap
                                                                <br><br>
                                                                In my over two decades of experience in the investment
                                                                business,
                                                                I have learned that many investors fail to match the
                                                                returns of
                                                                even the Sensex or Nifty. Choosing a suitable investment
                                                                scheme
                                                                is one of the first steps in a financial journey, but
                                                                how one
                                                                behaves during that period is what makes an investor
                                                                successful.
                                                                It seems simple, but it’s not easy to follow. Just like
                                                                we all
                                                                know that a morning walk is good for health, yet it’s
                                                                hard to do
                                                                it consistently. <br><br>
                                                                Many studies have been conducted to understand the gap
                                                                in
                                                                investors' returns due to their behavior. We not only
                                                                guide our
                                                                clients through investment options but also help them
                                                                stay
                                                                disciplined and avoid such mistakes.
                                                                <br><br>
                                                                Among various studies done on financial behavior, the
                                                                DALBAR
                                                                study is underexplained for further understanding.

                                                            </li>
                                                        </div>
                                                        <div class="col-4">
                                                            <img class="rounded mx-auto d-block"
                                                                style="margin-top: 18%;"
                                                                src="./../../assets/img/123.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <li class="text-white" style="text-align: justify;">
                                                        DALBAR Study <br><br>
                                                        <h5 style="color: #5b9bd5; font-weight: 600;">Understanding
                                                            Investor Behavior</h5>
                                                        Remember, adopting smart investor behavior results in positive
                                                        investments that contribute to growing your wealth.
                                                        <h5 style="color: #5b9bd5; font-weight: 600;">
                                                            But what exactly
                                                            is smart investor behavior?</h5>
                                                        To understand investor behavior is, you need to be familiar with
                                                        the DALBAR Study conducted in USA . The original DALBAR Study
                                                        found that the average return from the top 500 U.S. listed
                                                        companies between 1980 to 2000 in the U.S.A was 12%. In
                                                        contrast, the average return for investors over the same period
                                                        was 4%. <br><br>
                                                        So, what was the cause of that 8% difference ?
                                                        <br><br>
                                                        <a>
                                                            Three words :<a style="color: rgb(200, 101, 101);
                                                            font-size: larger;"> Bad investor behavior.</a>
                                                        </a><br><br>
                                                        Unsound investor behavior can lead to adverse investment
                                                        outcomes, potentially hindering the growth of your wealth.
                                                        <br><br>
                                                        The DALBAR Study found that the average holding period by
                                                        investors who claimed they were investing for the long term was
                                                        just over 3 years. It was found that market decline caused these
                                                        investors to panic and sell at the wrong time based upon world
                                                        events happening g at the time that was out of their control.
                                                        The result: consistently lower returns than those investors who
                                                        were patient and planned for the true long-term.
                                                    </li>

                                                    <br>
                                                    <div class="center-image">
                                                        <img style="width: 70%;" src="./../../assets/img/Picture3.png"
                                                            alt="">
                                                    </div>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><br><br><br><br>

                </div>
            </div>
        </div>
    </section><br>
    <section class="bg-silver-light">
        <div class="container pt-60" style="padding-bottom: 1% !important;">
            <div class="section-content">
                <div class="row mb-90"
                    style="margin-bottom: 0 !important; display: flex; justify-content: center; align-items: center; ">
                    <div class="col-lg-6 col-xl-4"> <!--style="height: 450px;"-->
                        <div class="feature-box-list-banner bg-theme-colored2 z-index-1 mt-lg-40"
                            style="margin-top: -127px; padding: 20px;">
                            <h3 class="text-white feature-box-list-banner-title mt-0 mb-50 text-center">
                                Why Us</h3>
                            <div class="tm-sc-unordered-list list-style8">
                                <ul>
                                    <li class="text-white">Expertise and Knowledge</li>
                                    <li class="text-white">Proven Track Record</li>
                                    <li class="text-white">Financial Behavior Management</li>
                                    <li class="text-white">Client-Centric Approach</li>
                                    <li class="text-white">Collective Approach</li>
                                    <li class="text-white">Transparency and Integrity</li>
                                    <li class="text-white">Continuous Learning and Adaptation</li>
                                    <div class="call-for-estimate"><br>
                                        <h5 class="text-white text-center number">22+ Years of
                                            Experience</h5>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>