<div class="main-content-area">
  <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
    data-tm-bg-img="assets/bg1.jpg" style="background-image: url(&quot;assets/bg1.jpg&quot;);">
    <div class="container pb-50 pt-50">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="title mt-0" style="font-weight:800 !important; font-family:inter, sans-serif;
            font-size:40px;">
              Privacy-policy</h2>
            <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
              <div class="breadcrumbs">
                <span><a href="#" rel="home" style="text-decoration:none">Home</a></span>&nbsp;
                <span><i class="fa fa-angle-right"></i></span>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-section">
    <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
      <div class="row">

        <div class="col-lg-6 col-xl-6" style="width: 100%;">
          <section>
            <div class="container" style="padding-top: 30px; padding-bottom: 0px;">
              <div class="row">
                <div class="col-md-8 offset-md-2 w-100 m-0">
                  <div class="col-lg-6 col-xl-4" style="width: 100%;">
                    <div class="feature-box-list-banner z-index-1 mt-lg-40" style=" padding: 0px;">
                      <div class="tm-sc-unordered-list list-style8">
                        <p>This privacy policy sets out how ArthFin uses and protects any information that you share
                          when you use this website. ArthFin is committed to ensuring that your privacy is
                          protected at all times. Should we ask you to provide certain information by which you
                          can be identified when using this website, you can be assured that it will only be used
                          in accordance with this privacy statement.</p>
                        <p style="text-align: justify;">ArthFin may change this policy from time to time by updating
                          this page. This policy is effective from June 1, 2018.</p>
                        <p style="text-align: justify;">ArthFin understands that our relationship is strongly built on
                          trust and faith. In Course of using information on this website or availing the services,
                          ArthFin may become privy to the personal information of its customer including information
                          that is of confidential nature. ArthFin is strictly committed to protecting the privacy of its
                          Customer and has taken reasonable measures to protect the confidentiality of the customer
                          information and its transmission through World Wide Web. However it shall not be liable in any
                          manner for disclosure of the confidential information in accordance with this Privacy
                          Commitment or in terms of the agreement if any with the Customer or by reasons beyond its
                          control. We may however be required to disclose your personal information to Government,
                          Judicial bodies, and our Regulators or to any person to whom the Firm is under an obligation
                          to make disclosure under the requirements of any law binding on the Firm or any of its
                          branches, if required. Hyperlink Policy for user Any hyperlink to other Internet sites is at
                          customer’s own risk. The contents of which and the accuracy of opinions expressed are not
                          verified, monitored or endorsed by ArthFin , in any way or manner. ArthFin is not responsible
                          for the setup of any hyperlink from a third party website to ArthFin .</p>
                        <h4 style="text-align: justify;"><strong>What we collect</strong></h4>
                        <p style="text-align: justify;">We may collect the following information:</p>
                        <ul style="text-align: justify;">
                          <li>Name and contact details</li>
                          <li>Personal information, including date of birth, Aadhaar Number, and Permanent Account
                            Number (PAN)</li>
                          <li>Demographic information such as gender and income</li>
                          <li>Other information that can help us improve our services</li>
                        </ul>
                        <h4 style="text-align: justify;"><strong>What we do with the information we gather</strong>
                        </h4>
                        <ul style="text-align: justify;">
                          <li>To conduct Know-Your-Customer registration as required by SEBI and/or other
                            regulatory bodies</li>
                          <li>To perform compliance checks and keep/maintain internal records</li>
                          <li>To use the information to improve our products and services</li>
                          <li>To periodically send emails to your registered email address about your investments, or
                            other information which we think you may find interesting.</li>
                          <!-- <li>You will be free to unsubscribe from our mailing list at any time if you do not wish
                        to receive such emails from us. From time-to-time, we may also use your information
                        to contact you via phone or email for market research purposes.</li> -->
                          <li>We will not sell, distribute or lease your personal information to third parties unless we
                            are required to share such information under the terms and conditions of the products and
                            services you avail, or we are required to do so by law.</li>
                        </ul>
                        <h4 style="text-align: justify;"><strong>Security</strong></h4>
                        <p style="text-align: justify;">We are committed to ensuring that your information is secure. In
                          order to prevent unauthorized access or disclosure, we have put in place suitable physical,
                          electronic and managerial procedures to safeguard and secure the information we collect
                          online.</p>
                        <h4 style="text-align: justify;"><strong>Links to other websites</strong></h4>
                        <p style="text-align: justify;">Our website may contain links to other websites of interest.
                          However, once you have used these links to leave our site, you should note that we do not have
                          any control over such third-party websites. Therefore, we cannot be responsible for the
                          protection and privacy of any information which you provide whilst visiting such sites. You
                          should exercise caution and look at the privacy statement applicable to the website in
                          question.</p>
                        <h4 style="text-align: justify;"><strong>Controlling your personal information</strong></h4>
                        <p style="text-align: justify;">If you believe that any of your information with us is incorrect
                          or incomplete, please email us as soon as possible at contact&#64;arthfin.com. We will
                          promptly correct any information found to be incorrect.</p>
                        <h4 style="text-align: justify;"><strong>Security certificates</strong></h4>

                        <h4 style="text-align: justify;"><strong>When it comes to data security, our goal is to ensure
                            that:</strong></h4>
                        <ul>
                          <li style="text-align: justify;">Your data is stored safely and securely – passwords are
                            one-way encrypted before being stored in the database for high security.</li>
                          <li style="text-align: justify;">All communication with you, or with mutual fund
                            companies and other service providers – are encrypted using the highest standards.
                          </li>
                          <li style="text-align: justify;">Your data is not shared with anyone, unless you have
                            explicitly requested us to do so to fulfil a transaction request.</li>

                        </ul>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>