<div class="main-container">
  <div class="carousel-container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./../../assets/img/charlie-munger-quotes-01 (1).jpg" class="d-block w-100" alt="...">
  
        </div>
        <div class="carousel-item">
          <img src="./../../assets/img/charlie-munger-quotes-07.jpg" class="d-block w-100" alt="...">
  
        </div>
        <div class="carousel-item">
          <img src="./../../assets/img/charlie-munger-quotes-04.jpg" class="d-block w-100" alt="...">
  
        </div>
        <div class="carousel-item">
          <img src="./../../assets/img/charlie-munger-quotes-17.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./../../assets/img/charlie-munger-quotes-11.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./../../assets/img/warren-buffett-quotes-26.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./../../assets/img/warren-buffet-6-investment-rules4.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  </div>

<section class="about-section">
  <div class="container ">
    <div class="row">
      <div class="col-lg-6 col-xl-6">
        <h6 class="subtitle mt-0 text-uppercase text-theme-colored1 sub-title-icon">Who We Are</h6>
        <h2 class="title">We Inspire and Help Our Customers</h2>
        <p class="" style="text-align: justify;"
        >At ArthFin, our mission is clear: to help you achieve your dream financial future with utmost
          integrity. We empower you to make informed economic decisions by placing your needs at the forefront of every
          discussion. You deserve reliable, transparent information to confidently grow your wealth.
          With over two decades, we've been committed to collaborating with you to achieve your unique objectives.
          Together, we develop a strategy and implementation plan designed to maximize your resources and ensure every
          element works in your favor. No matter your current situation, we're here to support you at every step of the
          way
        </p>
        <!-- <div class="row">
          <div class="col-xl-12">
            <div class="tm-sc tm-sc-unordered-list list-style3 mb-50">
              <ul>
                <li>Offering High Quality Solutions</li>
                <li>Leading Digital Corporation</li>
                <li>Award Winning Product Strategy</li>
                <li>World Leading Resourcing</li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
      <div class="col-lg-6 col-xl-6">
        <div class="image-box">
          <img class="image1" src="../assets/about1.jpg" alt="">          
          <div class="company-est">
            <div class="company-est-icon mb-20">
              <img src="../assets/5.png" alt="">
            </div>
            <div class="company-est-details">
              <h4 class="text-white mb-10">22+</h4>
              <p class="mt-0 text-white mb-0">Year of Experience</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-section">
  <div class="container pt-30 pt-lg-0" style="padding-bottom: 30px;">
    <div class="row">
      <div class="col-lg-12 col-xl-12">
        <div class="video-block" style="border-radius: 5px;">
          <div class="image-layer">
            <img class="img-fluid" src="./../../assets/img/p1.jpg" >
          </div>
          <div class="inner clearfix" style="padding: 52px;" >
            <!-- <div class="round-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"
              style=""> -->
              <!-- <div class="round-inner"> -->
                <!-- <div class="vid-link"> -->
                  <!-- <a data-lightbox-gallery="youtube-video" href="" class="lightbox-image">
                    <div class="icon"><span class="fa fa-play"></span><i class="ripple"></i></div>
                  </a> -->
                <!-- </div> -->
                <!-- <div class="title">
                  <h4>agency that gets <br>excited about</h4>
                </div>
                <div class="more-link"><a href="">Read More</a></div> -->
              <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xl-4">
        <h6 class="text-gray text-uppercase full-line-bottom mb-15 mt-0">Why People Choose Us?</h6>
        <h2 class="large-title mt-0 mb-20 mr-30 mr-sm-0">We've 22+ Years of Experiences for Give you Better Result
        </h2>
        <a href="" class="btn btn-md btn-circled btn-dark btn-theme-colored1 btn-flat text-uppercase mb-lg-60">Read
          More</a>
      </div>
      <div class="col-lg-12 col-xl-8">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="about-icon-box mb-60">
              <div class="icon-box-title clearfix d-flex align-items-center mb-15">
                <div class="icon-box-icon">
                  <i class="icomoon-trophy"></i>
                </div>
                <h5 class="mt-0">We're Certified</h5>
              </div>
              <div class="details">
                <p class="mb-0">Incididunt ut labore et dolore magna aliqua Lorem ipsu free dolor sit amet consectetur
                  notted consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="about-icon-box mb-60">
              <div class="icon-box-title clearfix d-flex align-items-center mb-15">
                <div class="icon-box-icon">
                  <i class="icomoon-lightbulb"></i>
                </div>
                <h5 class="mt-0">Years Experience</h5>
              </div>
              <div class="details">
                <p class="mb-0">Incididunt ut labore et dolore magna aliqua Lorem ipsu free dolor sit amet consectetur
                  notted consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="about-icon-box mb-sm-60">
              <div class="icon-box-title clearfix d-flex align-items-center mb-15">
                <div class="icon-box-icon">
                  <i class="icomoon-tools-2"></i>
                </div>
                <h5 class="mt-0"> Expert Technicians</h5>
              </div>
              <div class="details">
                <p class="mb-0">Incididunt ut labore et dolore magna aliqua Lorem ipsu free dolor sit amet consectetur
                  notted consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="about-icon-box">
              <div class="icon-box-title clearfix d-flex align-items-center mb-15">
                <div class="icon-box-icon">
                  <i class="icomoon-gears"></i>
                </div>
                <h5 class="mt-0">Service Provider</h5>
              </div>
              <div class="details">
                <p class="mb-0">Incididunt ut labore et dolore magna aliqua Lorem ipsu free dolor sit amet consectetur
                  notted consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="" data-tm-bg-img="images/bg/about-bg1.png"
  style="background-image: url(&quot;images/bg/about-bg1.png&quot;);">
  <div class="container pt-0 pb-80">
    <div class="section-title">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="text-center mb-60">
            <div class="tm-sc tm-sc-section-title section-title">
              <div class="title-wrapper">
                <h6 class="subtitle text-uppercase text-theme-colored1 font-weight-600">Meet Professionals</h6>
                <h2 class="title">Expert Consultants</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="team-item-currenty-style1 mb-30">
            <div class="team-thumb">
              <img class="w-100" src="../assets/1 (2).jpg" alt="">
              <div class="team-social">
                <ul class="styled-icons icon-team-list icon-circled icon-dark icon-theme-colored1">
                  <li><a class="social-link" href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-content">
              <div class="team-information">
                <h4 class="team-name mt-0 mb-0 position-relative z-index-1"><a href="">Sarah
                    Albert</a></h4>
                <p class="designation mb-0 position-relative z-index-1">CEO</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="team-item-currenty-style1 mb-30">
            <div class="team-thumb">
              <img class="w-100" src="../assets/2 (2).jpg" alt="">
              <div class="team-social">
                <ul class="styled-icons icon-team-list icon-circled icon-dark icon-theme-colored1">
                  <li><a class="social-link" href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-content">
              <div class="team-information">
                <h4 class="team-name mt-0 mb-0 position-relative z-index-1">
                  <a href="">Alica
                    Hike</a>
                </h4>
                <p class="designation mb-0 position-relative z-index-1">Manager</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="team-item-currenty-style1 mb-30">
            <div class="team-thumb">
              <img class="w-100" src="../assets/3 (1).jpg" alt="">
              <div class="team-social">
                <ul class="styled-icons icon-team-list icon-circled icon-dark icon-theme-colored1">
                  <li><a class="social-link" href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-content">
              <div class="team-information">
                <h4 class="team-name mt-0 mb-0 position-relative z-index-1"><a href="">John
                    Doe</a></h4>
                <p class="designation mb-0 position-relative z-index-1">Consultant</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="team-item-currenty-style1 mb-30">
            <div class="team-thumb">
              <img class="w-100" src="../assets/4 (1).jpg" alt="">
              <div class="team-social">
                <ul class="styled-icons icon-team-list icon-circled icon-dark icon-theme-colored1">
                  <li><a class="social-link" href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-content">
              <div class="team-information">
                <h4 class="team-name mt-0 mb-0 position-relative z-index-1"><a href="">Monica
                    Albert</a></h4>
                <p class="designation mb-0 position-relative z-index-1">Consultant</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="bg-theme-colored2 about-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-xl-5">
            <h2 class="text-white mb-40">Check Our Packages and Latest Pricing Plans</h2>
            <p class="text-gray-silver mb-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam praesentium
              aliquid magnam, quo, expedita distinctio.</p>
            <div class="about-icon-box first-child pr-30 pb-30 mb-20">
              <div class="icon-box-title clearfix d-flex align-items-center mb-15">
                <div class="icon-box-icon">
                  <i class="icomoon-Stop"></i>
                </div>
                <h5 class="text-white mt-0">We're Certified</h5>
              </div>
              <div class="details">
                <p class="mb-0 text-gray-silver">Incididunt ut labore et dolore magna aliqua Lorem ipsu free dolor sit
                  amet consectetur notted consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="about-icon-box first-child pr-30 pb-30 pb-md--0">
              <div class="icon-box-title clearfix d-flex align-items-center mb-15">
                <div class="icon-box-icon">
                  <i class="icomoon-Stop"></i>
                </div>
                <h5 class="text-white mt-0">24/7 Support</h5>
              </div>
              <div class="details">
                <p class="mb-0 mb-lg-60 text-gray-silver">Incididunt ut labore et dolore magna aliqua Lorem ipsu free
                  dolor sit amet consectetur notted consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-7">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div
                  class="tm-sc-pricing-table pricing-table-style-basic pricing-table-box-shadow pricing-table-hover-effect mb-sm-30 text-center">
                  <div class="pricing-table-inner-wrapper">
                    <div class="pricing-table-inner">
                      <div class="pricing-table-head">
                        <img class="mb-15" alt="" src="images/icon/1.png">
                        <div class="pricing-table-pricing"><span class="pricing-table-prefix">$</span> <span
                            class="pricing-table-price">49</span> <span class="pricing-table-separator">/</span> <span
                            class="pricing-table-postfix">Monthly</span></div>
                        <div class="pricing-table-title-area">
                          <h4 class="pricing-table-title">Small Business</h4>
                        </div>
                      </div>
                      <div class="pricing-table-content">
                        <ul class="">
                          <li>Extra features</li>
                          <li>Lifetime free support</li>
                          <li>Upgrate options</li>
                        </ul>
                      </div>
                      <div class="pricing-table-footer">
                        <div class="btn-view-details">
                          <a href="#" target="_self" class="btn btn-theme-colored2 btn-round">Select Plan</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div
                  class="tm-sc-pricing-table pricing-table-style-basic pricing-table-box-shadow pricing-table-hover-effect mb-sm-0 text-center">
                  <div class="pricing-table-inner-wrapper">
                    <div class="pricing-table-inner">
                      <div class="pricing-table-head">
                        <img class="mb-15" alt="" src="images/icon/2.png">
                        <div class="pricing-table-pricing"><span class="pricing-table-prefix">$</span> <span
                            class="pricing-table-price">49</span> <span class="pricing-table-separator">/</span> <span
                            class="pricing-table-postfix">Monthly</span></div>
                        <div class="pricing-table-title-area">
                          <h4 class="pricing-table-title">Large Business</h4>
                        </div>
                      </div>
                      <div class="pricing-table-content">
                        <ul class="">
                          <li>Extra features</li>
                          <li>Lifetime free support</li>
                          <li>Upgrate options</li>
                        </ul>
                      </div>
                      <div class="pricing-table-footer">
                        <div class="btn-view-details">
                          <a href="#" target="_self" class="btn btn-theme-colored2 btn-round">Select Plan</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

<!-- <section class="bg-silver-light layer-overlay overlay-white-2 bg-no-repeat bg-pos-center-center bg-size-contain"
  data-tm-bg-img="images/bg/service-bg1.jpg" style="background-image: url(&quot;images/bg/service-bg1.jpg&quot;);">
  <div class="container">
    <div class="section-title">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <div class="text-center mb-90">
            <div class="tm-sc tm-sc-section-title section-title">
              <div class="title-wrapper">
                <h6 class="subtitle text-theme-colored1">Our Feedbacks</h6>
                <h2 class="title">What They're Saying</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-4">
          <div class="testimonial-current-style1 mb-lg-60">
            <div class="quote-icon">
              <i class="fas fa-quote-left"></i>
            </div>
            <div class="author-text mb-30"> I feel very happy and be proud to connect with this industry. I presume
              this is a very productive and professional very good luck &amp; success for this industry</div>
            <div class="d-flex align-items-center author-info clearfix">
              <div class="author-thumb mr-15">
                <img class="rounded-circle" src="images/testimonials/s1.jpg" alt="">
              </div>
              <div class="author-detials">
                <h5 class="name mt-0">Jim Grace,</h5>
                <h6 class="job-position font-weight-400 m-0">Developer</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
          <div class="testimonial-current-style1 mb-md-60">
            <div class="quote-icon">
              <i class="fas fa-quote-left"></i>
            </div>
            <div class="author-text mb-30"> I feel very happy and be proud to connect with this industry. I presume
              this is a very productive and professional very good luck &amp; success for this industry</div>
            <div class="d-flex align-items-center author-info clearfix">
              <div class="author-thumb mr-15">
                <img class="rounded-circle" src="images/testimonials/s2.jpg" alt="">
              </div>
              <div class="author-detials">
                <h5 class="name mt-0">Mark Teylor,</h5>
                <h6 class="job-position font-weight-400 m-0">Developer</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
          <div class="testimonial-current-style1">
            <div class="quote-icon">
              <i class="fas fa-quote-left"></i>
            </div>
            <div class="author-text mb-30"> I feel very happy and be proud to connect with this industry. I presume
              this is a very productive and professional very good luck &amp; success for this industry</div>
            <div class="d-flex align-items-center author-info clearfix">
              <div class="author-thumb mr-15">
                <img class="rounded-circle" src="images/testimonials/s3.jpg" alt="">
              </div>
              <div class="author-detials">
                <h5 class="name mt-0">Tom Hoddy,</h5>
                <h6 class="job-position font-weight-400 m-0">Developer</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="layer-overlay overlay-theme-colored2-9" 
  >
  <div class="container" data-tm-padding-bottom="130px" style="padding-bottom: 130px;">
    <div class="section-title">
      <div class="row align-items-center justify-content-center">
        <!-- <div class="col-lg-7 col-xl-5">
          <div class="tm-sc-section-title section-title mb-md-30">
            <div class="title-wrapper">
              <h6 class="subtitle text-theme-colored1 mb-20">Checkout Our Work</h6>
              <h2 class="title text-white">Best Consultancy Cases Around the World</h2>
            </div>
          </div>
        </div> -->
        <div class="col-lg-7 col-xl-7">
          <p class="mb-md-60 text-gray-silver" style="font-size: 25px; text-align: center;">Our core values guide every action we take and shape our investment philosophy, which is centered around three key areas: investor behavior, asset allocation, time horizon & selection.
            Whether you are embarking on your financial journey, seeking financial services or strategies, or navigating a particular stage of your progression, we stand ready to support you at every juncture.  We provide unparalleled clarity and guidance on your path to economic security and success, empowering you to navigate any challenges with confidence and ease.
            </p>
        </div>
      </div>
    </div>
    <!-- <div class="section-content">
      <div class="row">
        <div class="col-md-6 col-xl-4">
          <div class="tm-sc-projects projects-current-theme mb-30">
            <div class="tm-project">
              <div class="thumb">
                <img class="w-100" src="../assets/1.jpg" alt="Image">
                <div class="details">
                  <h4 class="title"><a href="">Human Resources</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="tm-sc-projects projects-current-theme mb-30">
            <div class="tm-project">
              <div class="thumb">
                <img class="w-100" src="assets/2.jpg" alt="Image">
                <div class="details">
                  <h4 class="title"><a href="">Business Consulting</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="tm-sc-projects projects-current-theme mb-30">
            <div class="tm-project">
              <div class="thumb">
                <img class="w-100" src="assets/3.jpg" alt="Image">
                <div class="details">
                  <h4 class="title"><a href="\">Finanace Management</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="tm-sc-projects projects-current-theme mb-30">
            <div class="tm-project">
              <div class="thumb">
                <img class="w-100" src="assets/4.jpg" alt="Image">
                <div class="details">
                  <h4 class="title"><a href="">Health Insurance</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="tm-sc-projects projects-current-theme mb-30">
            <div class="tm-project">
              <div class="thumb">
                <img class="w-100" src="assets/5.jpg" alt="Image">
                <div class="details">
                  <h4 class="title"><a href="">Market Analysis</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="tm-sc-projects projects-current-theme mb-30">
            <div class="tm-project">
              <div class="thumb">
                <img class="w-100" src="assets/6.jpg" alt="Image">
                <div class="details">
                  <h4 class="title"><a href="">Business Idea</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>

<section class="about-section" data-tm-margin-top="-60px" style="margin-top: -60px;">
  <div class="container bg-theme-colored1 p-40 p-xs-20 pt-xs-100 pb-xs-100 pr-60 pl-60 border-radius-5px">
    <div class="row align-items-center">
      <div class="col-lg-9">
        <div class="call-to-action-currenty-style1 d-md-flex align-items-center mb-md-40">
          <div class="thumb mr-30 mb-sm-30" style="margin-right: 30px !important;">
            <img class="rounded-circle" src="assets/cta-img1.jpg" alt="">
          </div>
          <div class="details">
            <h3 class="subtitle text-white m-0 mb-10 text-uppercase">Want To Discuss in Detail</h3>
            <!-- <h2 class="text-white m-0" style="font-size: 2rem;">Contact Our Consultant Now</h2> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-start text-lg-end">
        <a href="/contact-us" target="_self" class="btn btn-md btn-theme-colored2">Contact-Us</a>
      </div>
    </div>
  </div>
</section>

<!-- <section>
  <div class="container pb-70" data-tm-padding-bottom="70px" style="padding-bottom: 70px !important;">
    <div class="section-title">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <div class="tm-sc-section-title section-title text-center">
            <div class="title-wrapper">
              <h6 class="subtitle text-theme-colored1">From the Blog</h6>
              <h2 class="title mt-0 mb-0">Latest news &amp; articles directly coming from blog</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6">
          <div class="blog-style1-current-theme">
            <article class="post">
              <div class="entry-header">
                <div class="post-thumb">
                  <div class="thumb"> <img class="w-100" src="assets/1.jpg" alt="Image"></div>
                </div>
              </div>
              <div class="entry-content">
                <div class="post-date">
                  <span>06 Nov, 2021</span>
                </div>
                <div class="blog-meta">
                  <span class="admin-type mr-10">
                    <i class="far fa-user-circle text-theme-colored1"></i>
                    Admin
                  </span>
                  <span class="comments-type">
                    <i class="far fa-comments text-theme-colored1"></i>
                    2 Comments
                  </span>
                </div>
                <h4 class="entry-title"><a href="" rel="bookmark">Large Scale Marketing for Business
                    Strategy</a></h4>
                <div class="clearfix"></div>
              </div>
            </article>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6">
          <div class="blog-style1-current-theme">
            <article class="post">
              <div class="entry-header">
                <div class="post-thumb">
                  <div class="thumb"> <img class="w-100" src="assets/2.jpg" alt="Image"></div>
                </div>
              </div>
              <div class="entry-content">
                <div class="post-date">
                  <span>06 Nov, 2021</span>
                </div>
                <div class="blog-meta">
                  <span class="admin-type mr-10">
                    <i class="far fa-user-circle text-theme-colored1"></i>
                    Admin
                  </span>
                  <span class="comments-type">
                    <i class="far fa-comments text-theme-colored1"></i>
                    2 Comments
                  </span>
                </div>
                <h4 class="entry-title"><a href="" rel="bookmark">Money markets findings the best
                    accounts</a></h4>
                <div class="clearfix"></div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->