<div class="main-content-area">
  <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
    data-tm-bg-img="assets/bg1.jpg" style="background-image: url(&quot;assets/bg1.jpg&quot;);">
    <div class="container pb-50 pt-50">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="title mt-0" style="font-weight:800 !important; font-family:inter, sans-serif;
            font-size:40px;">Disclaimer</h2>
            <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
              <div class="breadcrumbs">
                <span><a href="#" rel="home" style="text-decoration:none">Home</a></span>&nbsp;
                <span><i class="fa fa-angle-right"></i></span>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-section">
    <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
      <div class="row">

        <div class="col-lg-6 col-xl-6" style="width: 100%;">
          <section>
            <div class="container" style="padding-top: 30px; padding-bottom: 0px;">
              <div class="row">
                <div class="col-md-8 offset-md-2 w-100 m-0">
                  <div class="col-lg-6 col-xl-4" style="width: 100%;">
                    <div class="feature-box-list-banner z-index-1 mt-lg-40" style=" padding: 0px;">
                      <div class="tm-sc-unordered-list list-style8">

                        <p>These are our terms and conditions for usage of the website, ArthFin and the related
                          services offered by ArthFin (‘Related Services’ hereafter means Stock Market Trading /
                          Mutual Funds / ULIPs / Investment Recommendations and Analysis given through E-Mail,
                          Messenger, Mobile Phone, Mobile SMS, Telephone or in any other form, manner or media)
                        </p>
                        <p>ArthFin owns arthfin.com and all its contents & related services. You agree and
                          understand that the information and material contained in this website and the related
                          services offered by ArthFin.</p>
                        <p>Research’ implies and constitutes your consent to the terms and conditions mentioned below.
                          You also agree that ArthFin can modify or alter the terms and conditions of the use of this
                          service without any liability.</p>
                        <p>The contents of this site & related services offered by ArthFin are solely the personal views
                          of the contributors. ArthFin reserve the right to make modifications and alterations to the
                          contents of this website. Users are advised to use the data for the purpose of information
                          only and rely on their own judgment while making investment or trading decisions. The
                          investments or trades discussed or recommended in this website & related services offered by
                          ArthFin may not be suitable for all investors.</p>
                        <p>ArthFin does not warranty the timeliness, accuracy or quality of the electronic content and
                          take no responsibility for any loss or profit arising out of decisions being made by anyone
                          acting on the analysis or recommendations published in this website.</p>
                        <p>The contents of this website & the related services offered by ArthFin cannot be copied,
                          reproduced, republished, uploaded, posted, transmitted or distributed for any non-personal use
                          without obtaining prior permission from ArthFin Any person who intend to use the services
                          rendered by ArthFin should do so only after due consideration of the above as well as all
                          other factors.</p>
                        <p><strong>ArthFin is not responsible for the contents of any of the linked sites. </strong>
                          &nbsp;By providing access to other website nor recommending nor endorsing the content
                          available in the linked websites. If you do not agree to any of the terms mentioned in this
                          agreement, you should kindly exit the site.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>